[submodule "final-project-team-30"]
	path = final-project-team-30
	url = https://github.com/neu-mis-info6150-fall2021/final-project-team-30
[submodule "assignment-1-sonalisinghnortheastern"]
	path = assignment-1-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/assignment-1-sonalisinghnortheastern
[submodule "lab-2-sonalisinghnortheastern"]
	path = lab-2-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/lab-2-sonalisinghnortheastern
[submodule "lab-3-sonalisinghnortheastern"]
	path = lab-3-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/lab-3-sonalisinghnortheastern
[submodule "assignment-2-sonalisinghnortheastern"]
	path = assignment-2-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/assignment-2-sonalisinghnortheastern
[submodule "lab-4-sonalisinghnortheastern"]
	path = lab-4-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/lab-4-sonalisinghnortheastern
[submodule "assignment-4-sonalisinghnortheastern"]
	path = assignment-4-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/assignment-4-sonalisinghnortheastern
[submodule "assignment-3-sonalisinghnortheastern"]
	path = assignment-3-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/assignment-3-sonalisinghnortheastern
[submodule "assignment-5-sonalisinghnortheastern"]
	path = assignment-5-sonalisinghnortheastern
	url = https://github.com/neu-mis-info6150-fall2021/assignment-5-sonalisinghnortheastern
